[Desktop Entry]
Name=Duke Nukem 3D
Version=0.5, 05-Feb-2025
Author=EXL
Comment=GP2X port of Duke Nukem 3D by Woogal, known as Duke2X 03/07/07 Version 0.04, to EZX and MotoMAGX phones by Motorola.
Vendor=exlmoto.ru
Exec=run.sh
Icon=ezx_sml_32x24.png
BigIcon=ezx_big_68x43.png
Type=Application
Category=Games
Shared=2
